[submodule "libs/slua"]
	path = libs/slua
	url = https://github.com/LunaFramework/slua.git
[submodule "libs/lua"]
	path = libs/lua
	url = https://github.com/LunaFramework/lua.git
	branch = lua-5.1
[submodule "libs"]
	branch = lua51
